.page-section {
    padding: 1.2rem 0;

    @mixin at778 {
        padding: 4.5rem 0;
    }

    &--no-b-padding-until-medium {
        padding-bottom: 0;

        @mixin at778 {
            padding-bottom: 4.5rem;
        }
    }

    &--no-b-padding-until-large {
        padding-bottom: 0;

        @mixin at1010 {
            padding-bottom: 4.5rem;
        }
    }

    &--blue {
        background-color: #fff;
        color: #333;
        
    }

    &--testimonials {

        background-color: #fff;
        color: #333;
    }
}
